@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-style: normal;
}

.header-section {
    margin-top: -30px;
    // position: relative;
    .header-wrapper {
        // transform: translate(0, -50%);
        .header-text {
            h2 {
                margin-left: 20px;
                padding-top: 40px;
                font-family: 'Pretendard', serif;
                font-weight: 500;
                font-size: 35px;
                color: white;
            }
            height: 130px;
            background-color: black;
        }
        .category-select {
            margin-left: 20px;
            margin-right: 20px;
            float: left;
            .selects {
                color: white;
                font-size: 0.9rem;
                background-color: transparent;
                appearance: none;
                width: 80px;
                height: 34px;
                border-radius: 5px;
                border: 1px solid #ffffff;
                -webkit-appearance: none;
                -moz-appearance: none;
                text-align: center;
                transition: all 250ms ease-in-out;
                backface-visibility: hidden;
                transform-style: preserve-3d;
                // background: url('../assets/images/arrow-down.png') no-repeat 95%
                //     50%;
            }
        }
        .search-box {
            background-color: black;
            .search {
                padding-bottom: 20px;
                input {
                    width: 310px;
                    height: 30px;
                    border-radius: 5px;
                    border: 1px solid #ffffff;
                    background-color: transparent;
                    transition: all 250ms ease-in-out;
                    backface-visibility: hidden;
                    transform-style: preserve-3d;
                    font-size: 0.9rem;
                    color: white;
                }
                .clearButton {
                    background: none;
                    outline: none;
                    border-style: none;
                    width: 40px;
                    height: 40px;
                    color: #a431b9;
                    font-size: 0.9rem;
                    margin-left: 5px;
                }
                .search-icon {
                    background: none;
                    outline: none;
                    border-style: none;
                    cursor: pointer;
                    width: 40px;
                    height: 40px;
                    margin-top: -3px;
                }
            }
        }
    }
}

.board-container {
    margin-top: 30px;
    .row {
        display: grid;
        grid-template-columns: repeat(2, 200px);
    }
    // .row {
    // }
}
