@font-face {
  font-family: 'Pretendard-Regular';
  src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff') format('woff');
  font-style: normal;
}

*{
  font-family: 'Pretendard', serif;
  text-decoration: none;
  color: black;
}

h2{
  font-size: 18px;
  font-weight: 700;
}
h4{
  font-size: 15px;
  font-weight: 400;
}
