.commentComp{
  width:300px;

  .commentInput{
    display:grid;
    grid-template-columns: 3fr 1fr;

    margin-bottom: 1rem;
    textarea{
      border-radius: 3px 0px 0px 3px;
      border-right: none;
    }
    button{
      border-radius: 0px 3px 3px 0px;
      background: #cccccc;
      border: solid 1px #767676;
    }
  }
  p{
    margin: 0;
    color: #767676;
  }
}
