@font-face {
    font-family: 'Pretendard-Regular';
    src: url('https://cdn.jsdelivr.net/gh/Project-Noonnu/noonfonts_2107@1.1/Pretendard-Regular.woff')
        format('woff');
    font-style: normal;
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,500;0,600;0,700;1,100;1,200&display=swap');
@font-face {
    font-family: 'GmarketSansMedium';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff')
        format('woff');
    font-weight: normal;
    font-style: normal;
}

* {
    //background-color: black;
    font-family:
        'Pretendard Variable',
        Pretendard,
        -apple-system,
        BlinkMacSystemFont,
        system-ui,
        Roboto,
        'Helvetica Neue',
        'Segoe UI',
        'Apple SD Gothic Neo',
        'Noto Sans KR',
        'Malgun Gothic',
        'Apple Color Emoji',
        'Segoe UI Emoji',
        'Segoe UI Symbol',
        sans-serif;
}

button {
    background-color: transparent;
    border: none;
    padding: 0 0 0 0; //버튼 여백 제거
}

.main-wrapper {
    header {
        background-color: #000000;
        align-items: center;
        padding: 30px 0 0 30px;
        .header-wrapper {
            display: flex;
            position: relative;
            flex: 1;
            @media (min-width: 768px) {
                margin-left: 20%;
                margin-right: 20%;
            }
            .logo {
                h1 {
                    font-family: 'GmarketSansMedium', serif;
                    font-weight: 300;
                    font-size: 25px;
                    color: white;
                }
            }
            .move-to-mypage {
                position: absolute;
                float: left;
                right: 30px;
                img {
                    width: 35px;
                    height: 35px;
                }
            }
        }
    }
    // color: white;
    .main-top-section {
        background-color: #000000;
        padding-left: 30px;
        margin-top: -50px;
        // height: 350px;
        .main-top-wrapper {
            flex: 1;
            @media (min-width: 768px) {
                margin-left: 20%;
                margin-right: 20%;
            }
            .one {
                padding-top: 20px;
            }
            .two {
                margin-top: -70px;
            }
            .three {
                margin-top: -70px;
            }
            h1 {
                font-weight: 500;
                font-size: 56px;
                letter-spacing: -3px;
                color: white;
                p {
                    font-family: 'Poppins', sans-serif;
                    font-weight: 200;
                    font-style: italic;
                    color: white;
                }
            }
            h3 {
                font-size: 18px;
                color: white;
                font-weight: 200;
                a {
                    color: #a431b9;
                    font-weight: 400;
                }
            }
            h4 {
                margin-top: -10px;
                font-size: 18px;
                color: white;
                font-weight: 200;
                padding-bottom: 30px;
            }
        }
    }
    .main-board-wrapper {
        background-color: white;
        flex: 1;
        @media (min-width: 768px) {
            margin-left: 20%;
            margin-right: 20%;
        }
        .board-bar {
            height: 45px;
            padding: 0 0 20px 30px;
            display: flex;
            align-items: center;
            position: relative;
            .board-bar-text {
                flex: 1;
                h2 {
                    font-weight: 300;
                    color: black;
                }
            }
            .move-to-board {
                flex: 1;
                position: absolute;
                right: 25px;
            }
        }
        .board-list {
            background-color: rgb(255, 255, 255);
            height: 500px;
        }
    }
}
