.postUHeader{
    background-color: black;
    padding: 1rem;

    .backBtn{
        border: none;
        background: none;
        color: #B7B7B7;
    }

    h1{
        margin: 1.5rem 0.67rem 0rem 0.67rem;
        font-weight: 500;
        font-size: 1.8rem;
        color: white;
    }
}